* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  /* width: 100%;
  height: 60vh; */
  font-family: "Exo 2", sans-serif;
}

/* =========================== BACKGROUND ====================== */

.main-background {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.2)
    ),
    url("../img/alienware-Hpaq-kBcYHk-unsplash.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* =========================== HEADER ====================== */

.header {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

.container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header .header-logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header .header-logo img {
  width: 50px;
}

.header .header-logo p {
  font-size: 30px;
  margin-left: 10px;
  color: rgb(117, 117, 117);
}

.header .header-nav {
  width: 70%;
  height: 100%;
  display: flex;
}

.header .header-nav nav {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.header .header-nav nav ul {
  list-style: none;
  margin-left: 20px;
}

.header .header-nav nav ul li a {
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  transition: ease-out 0.1s;
  color: #494949;
}

.header .header-nav nav ul li a:hover {
  color: #29d4c0;
  border-bottom: 3px solid #29d4c0;
  opacity: 0.75;
}

/* =========================== MAIN ====================== */

.main {
  width: 100%;
  height: 100%;
}

.main .container {
  display: flex;
  align-items: flex-end;
}

.box-main-title {
  width: 400px;
  height: 200px;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.4);
  color: rgb(25, 25, 25);
}

.box-main-title h1 {
  font-size: 70px;
  letter-spacing: 2px;
}
.box-main-title p {
  font-size: 35px;
}

/* =========================== PRODUCT ====================== */

.product {
  width: 100%;
  height: 90vh;
  padding: 20px;
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.2)
    ),
    url("../../sources/img/alienware-_lHDEG1Z7oQ-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product .container {
  align-items: center;
}

.box-product {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.4);
  color: rgb(25, 25, 25);
}

.box-product figure {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-product figure img {
  width: 100%;
}

.box-product-info {
  width: 100%;
  padding: 15px;
}

.box-product-info h2 {
  margin-top: 20px;
}

.box-product-info h3 {
  margin-top: 20px;
}

.box-product-info p {
  margin-top: 20px;
}

.box-product-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-product-btn button {
  margin-top: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  color: white;
  background: #29d4c0;
  transition: 0.26s;
  letter-spacing: 1.6px;
}

.box-product-btn button:hover {
  cursor: pointer;
  transform: scale(1.06);
  background: #58f0de;
  box-shadow: 2px 2px 8px 2px rgba(255, 255, 255, 0.25);
}

/* =========================== CONTACT ====================== */

.contact {
  width: 100%;
  height: 90vh;
  padding: 20px;
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.2)
    ),
    url("../img/alienware-CBtQdEqGrDQ-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .container {
  align-items: flex-end;
}

.contact-form {
  width: 100%;
  height: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.4);
  color: rgb(25, 25, 25);
}

.box-contact-form {
  width: 70%;
  margin: 0 auto;
  padding: 20px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box-contact-form h3 {
  font-size: 50px;
}

.box-contact-form label {
  width: 30%;
  letter-spacing: 2px;
  font-weight: bold;
  color: #090909;
}
.box-contact-form input {
  width: 60%;
  height: 40px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  letter-spacing: 2px;
  color: white;
  outline: none;
}

.box-contact-form input::placeholder {
  color: white;
}

.box-contact-form button {
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  color: white;
  background: #29d4c0;
  transition: 0.26s;
  letter-spacing: 1.6px;
}

.box-contact-form button:hover {
  cursor: pointer;
  transform: scale(1.06);
  background: #58f0de;
  box-shadow: 2px 2px 8px 2px rgba(255, 255, 255, 0.25);
}

/* =========================== FOOTER ====================== */

.footer {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(59, 59, 59, 0.75), rgba(0, 0, 0, 0.9));
}

.footer h4 {
  color: #b1b1b1;
  letter-spacing: 2px;
}

.footer p,
h4 {
  margin-top: 5px;
  color: #b1b1b1;
}

.footer a {
  text-decoration: none;
  color: #b1b1b1;
  letter-spacing: 2px;
}

.footer a:hover {
  border-bottom: 2px #9c9c9c solid;
  color: #9c9c9c;
}
